$fontSize: 13px;
$font: arial, sans-serif;

%submitStyle {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 20px 8px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

body {
  font-family: $font;
}
header {
  display: flex;
  justify-content: flex-end;
  ul {
    li {
      margin: 6px;
      list-style-type: none;
      display: inline-block;
    }
    li > a[href="AdvancedSearch.html"] {
      margin: 20px;
    }
    a {
      text-decoration: none;
      font-size: $fontSize;
    }
  }
}
.search__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.5rem;

  img {
    width: 230px;
  }
  input[type="submit"] {
    @extend %submitStyle;
  }
  #input__group {
    input[type="text"] {
      background: #fff;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      width: 500px;
      height: 40px;
    }
    input[type="text"]:hover {
      box-shadow: 1px 4px 16px 6px rgba(223, 225, 229, 0.75);
      -webkit-box-shadow: 1px 4px 16px 6px rgba(223, 225, 229, 0.75);
      -moz-box-shadow: 1px 4px 16px 6px rgba(223, 225, 229, 0.75);
    }
    .submit {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
}

.search__logo {
  position: relative;
  left: 38px;
  top: 8px;
}

// Google Image Page
button[type="submit"] {
  display: inline-block;
  position: relative;
  right: 50px;
  top: 4px;
  border: none;
  background-color: #fff;
}
button[type="submit"]:hover {
  cursor: pointer;
}
button[type="submit"]:active {
  width: 25px;
  cursor: wait;
}
